<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>Seo Spider</Name>
	<Version>1.0.0</Version>
	<Title>Seo Spider Setup</Title>
	<Publisher>Rive Solutions</Publisher>
	<ProductUrl>http://j775420.myjino.ru/seospider/</ProductUrl>
	<!--<Background>brand-logo-best-png.png</Background>-->
	<Logo>brand-logo-best-png.png</Logo>
	<InstallerApplicationIcon>robot</InstallerApplicationIcon>
	<WizardStyle>Mac</WizardStyle>
	<StyleSheet>styles.qss</StyleSheet>
	<RunProgram>@TargetDir@/seospider.exe</RunProgram>
	<StartMenuDir>Seo Spider</StartMenuDir>
	<MaintenanceToolName>Uninstall SeoSpider</MaintenanceToolName>
	<AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
	<TargetDir>@HomeDir@/SeoSpider</TargetDir>
</Installer>