<?xml version="1.0" encoding="UTF-8"?>
<Installer>
	<Name>SEO Spider</Name>
	<Version>1.0.0</Version>
	<Title>SEO Spider Setup</Title>
	<Publisher>Rive Solutions</Publisher>
	<ProductUrl>http://rivesolutions.com/</ProductUrl>
	<InstallerWindowIcon>favicon</InstallerWindowIcon>
	<InstallerApplicationIcon>favicon</InstallerApplicationIcon>
	<Logo>logo.png</Logo>
	<WizardStyle>Modern</WizardStyle>
	<RunProgram>@TargetDir@/seospider.exe</RunProgram>
	<StartMenuDir>SEO Spider</StartMenuDir>
	<MaintenanceToolName>Uninstall SEO Spider</MaintenanceToolName>
	<RemoteRepositories>
     <Repository>
             <Url>http://rivesolutions.com/</Url>
             <Enabled>1</Enabled>
             <DisplayName>SEO Spider</DisplayName>
     </Repository>
	</RemoteRepositories>
	<AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
	<AllowSpaceInPath>true</AllowSpaceInPath>
	<Background>background.png</Background>
	<TargetDir>/Rive Solutions/SEO Spider</TargetDir>
</Installer>
