body {
	font-family: 'Helvetica', sans-serif;
	box-sizing: border-box;
	background-color: #F3F3F3;
	font-size: 0.9em;
}

p {
	margin:0;
}

section {
	margin: 0 14rem;
}

section:before{
	content: "";
	display: table;
	clear: both;
}

section:after{
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: none !important;
}

img {
	max-width: 100%;
	height: auto;
}

.row::before {
	content: "";
	display: table;
	clear: both;
}

.row::after{
	content: "";
	display: table;
	clear: both;
}

.col-2 {
	width: 16.66%;
	float: left;
}

.col-3 {
	width: 25%;
	float: left;
}

.col-4 {
	width: 33.33%;
	float: left;
}

.col-5 {
	width: 41.66%;
	float: left;
}

.col-6 {
	width: 49.3%;
	float: left;
}

.col-7 {
	width: 58.33%;
	float: left;
}
.col-8 {
	width: 66.66%;
	float: left;
}
.col-9 {
	width: 75%;
}
.col-10 {
	width: 83.33%;
}
.col-11 {
	width: 91.66%;
}
.col-12 {
	width: 100%;
}


.left {
	margin-right: 1rem;
}

.summary {
	background-color: white;
	margin-bottom: 1rem;
}

.summary:after {
	content: "";
	display: table;
	clear: both;
}

.summary-header {
	padding: 1rem;
}

.summary-header .stats {
	margin-left: 2rem;
}

.site-ref {
	font-size: 36px;
}

.site-ref a {
	color: #456A81;
}

.summary-problems {
	margin-top: 9rem;
	color: #656565;
}

.problems-count {
	display: inline-block;
	font-size: 3rem;
	color: black;
}

.summary-overview {
	padding: 0.5rem 1rem 0.5rem 1rem;
}

.summary-overview-icon {
	margin-right: 0.5rem;
	float: left;
}

.summary-overview-title {
	color: #656565;
}

.summary-overview-count {
	font-size: 1.7rem;
}

.summary-body {
	margin-top: 1.5rem;
}

.summary-body-title{
	margin: 0;
	padding: 0.7rem 1rem 0.7rem 1rem;
	/*background-color: #F3F3F3;*/
	color: #7C7C7C;
	/*font-weight: bold;*/
}

.summary-block {
	padding: 1rem;
	background-color: white;
}

.summary-title {
	color: #656565;
	font-weight: bold;
	/*border-bottom: 1px solid #D8D8D8;*/
}

.criteria {
	margin-top: 0.6rem;
}

.criteria:before {
	content: "";
	display: table;
	clear: both;
}

.criteria:after {
	content: "";
	display: table;
	clear: both;
}


.criteria-icon {
	float: left;
	padding-right: 1rem;
}


.criteria-title {
	float: left;
}

.criteria-count {
	float:right;
}

.summary-footer {
	padding: 1rem;
	background-color: white;
}


