body {
	font-family: 'Helvetica', sans-serif;
	box-sizing: border-box;
	background-color: #F3F3F3;
	font-size: 0.9em;
}

p {
	margin:0;
}
section {
	margin: 0 14rem;
}

section:before{
	content: "";
	display: table;
	clear: both;
}

section:after{
	content: "";
	display: table;
	clear: both;
}

a {
	text-decoration: none !important;
}


.row::before {
	content: "";
	display: table;
	clear: both;
}

.row::after{
	content: "";
	display: table;
	clear: both;
}

.col-2 {
	width: 16.66%;
	float: left;
}

.col-3 {
	width: 22.6%;
	float: left;
}

.col-4 {
	width: 33.33%;
	float: left;
}

.col-5 {
	width: 41.66%;
	float: left;
}

.col-6 {
	width: 49.3%;
	float: left;
}

.left {
	/*margin-left: 1rem;*/
	margin-right: 1rem;
}

.summary {
	/*border: 1px solid #dde0ee;*/
	background-color: white;
}

.summary:before {
	content: "";
	display: table;
	clear: both;
}

.summary:after {
	content: "";
	display: table;
	clear: both;
}

.summary-header {
	padding: 1rem;
}

.summary-center {
	text-align: center;
}

.site-ref {
	font-size: 32px;
	color: #456A81;
}

.problems-count {
	display: inline-block;
	font-size: 3rem
}

.summary-overview {
	background-color: #F3F3F3;
}

.summary-overview-criteria {
	margin-top: 1.5rem;
	margin-right: 2.5rem;
	padding: 0.3rem;
	background-color: white;
}

.summary-overview-icon {
	margin-right: 0.5rem;
	float: left;
}

.summary-overview-count {
	font-size: 1.7rem;
	float: right;
}

.summary-detail {
	background-color: #F3F3F3;
}

.summary-body {
	/*padding-bottom: 2rem;*/
}

.summary-body-title{
	margin: 0;
	padding: 0.7rem 1rem 0.7rem 1rem;
	background-color: #F3F3F3;
	color: #7C7C7C;
	/*font-weight: bold;*/
}

.summary-block {
	margin-top: 1.5rem;
	padding: 1rem;
	background-color: white;
	/*margin-bottom: 2.5rem;*/
}

.summary-title {
	color: #656565;
	/*font-size: 1.1rem;*/
	font-weight: bold;
	/*border-bottom: 1px solid #dde0ee;*/
}

.summary-body {

}

.criteria {
	margin-top: 1rem;
}

.criteria:before {
	content: "";
	display: table;
	clear: both;
}

.criteria:after {
	content: "";
	display: table;
	clear: both;
}


.criteria-icon {
	float: left;
	padding-right: 1rem;
}


.criteria-title {
	float: left;
	/*width: 95%;*/
}

.criteria-count {
	float:right;
}

.summary-footer {
	margin-top: 1rem;
	padding: 1rem;
	background-color: white;
}


