QWidget
{
	font-family: Arial;
	font-size: 10pt;
	color: #ededed;
	background-color: #343b49;
}

/*/////////////////////////////// Menubar and actions ///////////////////////////////*/

QMenuBar
{	
	padding-top: 1em;
	padding-bottom: 1em;
}

QMenuBar::item:selected
{
	background: #343b49;
}

QMenu
{
	padding: 0.1em;
	border: 0.05em solid #1f2530;
	background-color: #343b49;
}

QMenu::item
{
	color: #ededed;
	selection-background-color: #1f2530;
}

/*/////////////////////////////////// Border ////////////////////////////*/

QLineEdit,
QProgressBar,
QPushButton,
QTableView,
QComboBox
{
	border: 0.05em solid #c3c3c3;
	border-radius: 2px;
}

/*////////////////////////////////// Line edit //////////////////////////*/

QLineEdit
{
	min-height: 1.5em;
	background-color: #ffffff;
	color: #494949;
}

/*////////////////////////////////// Progress Bar //////////////////////////*/

QProgressBar
{
	min-height: 1.5em;
	background-color: #ffffff;
	text-align: center;
	color: #494949;
}

QProgressBar::chunk
{
	background-color: #61a032;
}

/*////////////////////////////////// Push Buttons //////////////////////////*/

QPushButton
{
	background-color: #f5f5f5;
	color: #494949;
	min-height: 1.5em;
	min-width: 3em;
}

QPushButton:pressed
{
	background-color: #d6d6d6;
}

/*/////////////////////////////// QComboBox ///////////////////////////////*/

QComboBox
{
	background-color: #f5f5f5;
	color: #494949;
	min-height: 1.5em;
	min-width: 3em;
}

QComboBox::item
{
	background: #ffffff;
}

QComboBox::drop-down
{
	margin-right: 0.4em;
	background-color: #f5f5f5;
	color: #494949;
}

QComboBox::down-arrow
{
	image: url(:/images/arrow-down-icon.png);
}

/*/////////////////////////////// Info frame ///////////////////////////////*/

QuickieWebBot--CrawlerControlWidget QWidget#crawlerControlWidget
{
	min-height: 3em;
	background: #e7e7e7;
}

QStackedWidget
{	
	border: none;
	margin-bottom: 3em;
}

QStackedWidget QWidget#crawlingPage
{
	background-color: #e7e7e7;
}

/*/////////////////////////////// Table view ///////////////////////////////*/

QTableView
{
	font-size: 9pt;
	background: white;
	border-radius: 0px;
}

QTableView::item
{
	color: #494949;
	selection-background-color: #343b49;
	border-left: none;
}

QTableView::item:focus
{
	selection-background-color: #1f2530;
}

QHeaderView
{
	background: #e0e0e0;
}

QHeaderView::section
{
	font-size: 9pt;
	color: #494949;
	
	border: 0.05em solid #c3c3c3;
	border-top: none;
	border-left: none;
	
	background: #e0e0e0;
	min-height: 3em;
}

QScrollBar:vertical
{
  border: none;

  background-color: #d6d6d6;
}

/*/////////////////////////////// Group buttons ///////////////////////////////*/

QPushButton[groupButton] {
	/*background-color: #d6d6d6;*/
	padding-left: 0.2em;
	padding-right: 0.2em;
}

QPushButton:checked[groupButton] {
	background-color: #d6d6d6;
}

QPushButton[groupButton="left"] {
	margin-right: 0em;
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0em;
	border-bottom-right-radius: 0em;
	border-bottom-left-radius: 0.2em;
	border-right: 0em;
}
QPushButton[groupButton="right"] {
	margin-left: 0em;
	border-top-left-radius: 0em;
	border-top-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
	border-bottom-left-radius: 0em;
}