QWidget
{
	font-family: Arial;
	font-size: 10pt;
	color: #ededed;
}

QMainWindow
{
	background-color: #546E7A;
}

/*/////////////////////////////// Menubar and actions ///////////////////////////////*/

QMenuBar
{	
	padding-top: 1em;
	padding-bottom: 1em;
	background-color: #263238;
}

QMenuBar::item:selected
{
	background: #343b49;
}

QMenu
{
	padding: 0.1em;
	border: 0.05em solid #1f2530;
	background-color: #343B49;
}

QMenu::item
{
	color: #ededed;
	selection-background-color: #1f2530;
}

/*/////////////////////////////// Status Bar ///////////////////////////////*/

QStatusBar
{
	min-height: 2.5em;
	background-color: #263238;
}


/*/////////////////////////////////// Border ////////////////////////////*/

QLineEdit,
QProgressBar,
QPushButton,
QComboBox,
QSpinBox
{
	border: 0.05em solid #c3c3c3;
	border-radius: 2px;
}

/*////////////////////////////////// Line edit and spin box //////////////////////////*/

QLineEdit,
QSpinBox
{
	min-height: 1.5em;
	background-color: #ffffff;
	color: #494949;
}

QuickieWebBot--UrlLineEdit:focus[isValidUrl=true]
{
	border-color: #61a032;
}

QuickieWebBot--UrlLineEdit:focus[isValidUrl=false]
{
	border-color: #cc0000; 
}

/*////////////////////////////////// Progress Bar //////////////////////////*/

QProgressBar
{
	min-height: 1.5em;
	background-color: #ffffff;
	text-align: center;
	color: #494949;
	padding: 0.05em;
}

QProgressBar::chunk
{
	background-color: #61a032;
}

/*////////////////////////////////// Push Buttons //////////////////////////*/

QPushButton
{
	background-color: #f5f5f5;
	color: #494949;
	min-height: 1.5em;
	min-width: 3em;
}

QPushButton:pressed
{
	background-color: #d6d6d6;
}

/*/////////////////////////////// QComboBox ///////////////////////////////*/

QComboBox
{
	background-color: #f5f5f5;
	color: #494949;
	min-height: 1.5em;
	min-width: 3em;
}

QComboBox::item
{
	background: #ffffff;
}

QComboBox::drop-down
{
	margin-right: 0.4em;
	background-color: #f5f5f5;
	color: #494949;
}

QComboBox::down-arrow
{
	image: url(:/images/arrow-down-icon.png);
}

/*/////////////////////////////// Info frame ///////////////////////////////*/

QuickieWebBot--ControlPanelWidget
{
	min-height: 2.5em;
}

QStackedWidget
{	
	border: none;
}

QStackedWidget QWidget#crawlingPage,
QStackedWidget QWidget#errorsFilterPage
{
	background-color: #e7e7e7;
}

/*/////////////////////////////// TableView ///////////////////////////////*/

QuickieWebBot--TableView
{
	font-size: 9pt;
	background: white;
}

QuickieWebBot--TableView#summaryGridView
{
	min-width: 28em;
	max-width: 28em;
}

QuickieWebBot--TableView#itemGridView
{
	max-height: 25em;
}

/*/////////////////////////////// Header view ///////////////////////////////*/

QHeaderView
{
	background: #e0e0e0;
}

QHeaderView::section
{
	font-size: 9pt;
	color: #494949;
	
	border: 0.05em solid #c3c3c3;
	border-top: none;
	border-left: none;
	
	background: #e0e0e0;
	min-height: 2em;
}

/*/////////////////////////////// Horizontal Scroll Bar ///////////////////////////////*/

QScrollBar:horizontal
{
	background: #D6D6D6;
	height: 1em;
	padding-top: 0.09em;
	padding-bottom: 0.09em;
}

QScrollBar::handle:horizontal
{
	border: 0.05em solid #c3c3c3;
	
	background-color: #e7e7e7;
	min-width: 2em;
}

QScrollBar::add-line:horizontal
{
	border: none;
    background: none;
}

QScrollBar::sub-line:horizontal
{
	border: none;
	background: none;
}

QScrollBar:left-arrow:horizontal,
QScrollBar::right-arrow:horizontal
{
	max-width: 0em;
	max-height: 0em;
	border: none;
    background: none;
    color: none;
}

QScrollBar::add-page:horizontal,
QScrollBar::sub-page:horizontal
{
	background: none;
}

/*/////////////////////////////// Vertical Scroll Bar ///////////////////////////////*/

QScrollBar:vertical
{
	background: #D6D6D6;
	width: 1em;
	padding-left: 0.09em;
	padding-right: 0.09em;
}

QScrollBar::handle:vertical
{
	border: 0.05em solid #c3c3c3;
	
	background-color: #e7e7e7;
	min-height: 2em;
	min-width: 0.8em;
}

QScrollBar::add-line:vertical
{
	border: none;
    background: none;
}

QScrollBar::sub-line:vertical
{
	border: none;
	background: none;
}

QScrollBar:left-arrow:vertical,
QScrollBar::right-arrow:vertical
{
	max-width: 0em;
	max-height: 0em;
	border: none;
    background: none;
    color: none;
}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical
{
	background: none;
}

/*/////////////////////////////// Settings page Widget ////////////////////////////////*/
QuickieWebBot--SettingsPage
{
	background: #343B49;
	min-width: 40em;
	max-width: 40em;
	min-height: 28em;
	max-height: 28em;
}

QuickieWebBot--SettingsPage QLabel,
QuickieWebBot--SettingsPage QCheckBox
{
	color: #494949;
}

QuickieWebBot--SettingsPage QFrame#headerFrame
{
	min-height: 8em;
	max-height: 8em;
	background: white;
	padding: 0.5em;
	border: 0.05em solid #c3c3c3;
}

QuickieWebBot--SettingsPage QLabel#headerName
{
	font-size: 16pt;
	min-height: 2em;
	color: #61a032;
}

QuickieWebBot--SettingsPage QFrame#settingsFrame
{
	background: #e7e7e7;
	padding: 1em;
	border: 0.05em solid #c3c3c3;
}

/*/////////////////////////////// ApplicationSettingsWidget ///////////////////////////*/

QuickieWebBot--ApplicationSettingsWidget QLabel,
QuickieWebBot--ApplicationSettingsWidget QWidget,
QuickieWebBot--ApplicationSettingsWidget QCheckBox
{
	color: #494949;
}

QuickieWebBot--ApplicationSettingsWidget QPushButton
{
	padding: 0.05em;
}

QuickieWebBot--ApplicationSettingsWidget QPushButton#applyButton:enabled
{
	color: white;
	background-color: #61a032;
	padding: 0.05em;
}

QuickieWebBot--ApplicationSettingsWidget QPushButton#applyButton:enabled:pressed
{
	background-color: #61b012;
}

/*/////////////////////////////// Splitters ///////////////////////////////*/

QSplitter::handle:horizontal
{
	image: url(:/images/ui-splitter-horizontal-icon.png);
    width: 1em;
}

QSplitter::handle:vertical
{
	image: url(:/images/ui-splitter-vertical-icon.png);
    height: 1em;
}

/*/////////////////////////////// Group buttons ///////////////////////////////*/

QPushButton[groupButton]
{
	/*background-color: #d6d6d6;*/
	padding-left: 0.2em;
	padding-right: 0.2em;
}

QPushButton:checked[groupButton]
{
	background-color: #d6d6d6;
}

QPushButton[groupButton="left"]
{
	margin-right: 0em;
	border-top-left-radius: 0.2em;
	border-top-right-radius: 0em;
	border-bottom-right-radius: 0em;
	border-bottom-left-radius: 0.2em;
	border-right: 0em;
}
QPushButton[groupButton="right"]
{
	margin-left: 0em;
	border-top-left-radius: 0em;
	border-top-right-radius: 0.2em;
	border-bottom-right-radius: 0.2em;
	border-bottom-left-radius: 0em;
} 

/*/////////////////////////////// Navigation Widget ///////////////////////////////*/


QWidget#NavigationPanel
{
	background-color: #263238;
	border-right: 0.05em solid #546E7A;
}

QWidget#NavigationPanel QPushButton
{
	background-color: #263238;
	width: 12em;
	border-radius: 0px;
	border: none;
	border-bottom: 0.05em solid #546E7A;
	text-align: left;
	padding: 0.5em;
	padding-left: 1em;
	font-size: 10pt;
	color: #ededed;
}

QWidget#NavigationPanel QPushButton[childElement="true"]
{
	padding-left: 3em;
	font-size: 8pt;
	background-color: #f5f5f5;
	border: none;
}

QWidget#NavigationPanel QPushButton[selected="true"]
{
	background-color: #546E7A;
}

/*/////////////////////////////// Web Page Debug Widget ///////////////////////////////*/

QWidget#DebugWebPageInfoWidget,
QWidget#DebugWebPageInfoWidget QWidget
{
	color: black;
}

/*/////////////////////////////// TitledWidget ///////////////////////////////*/

QuickieWebBot--TitledWidget
{
	background-color: #E7E7E7;
}

QuickieWebBot--TitledWidget QFrame#TitleFrame
{
	min-height: 3em;
	background-color: #263238;
	border-bottom: 0.08em solid #546E7A;
}

/*/////////////////////////////// DataPagesWidget ///////////////////////////////*/

QuickieWebBot--DataPagesWidget
{
	padding: 0em;
}