QWidget
{
	font-family: Helvetica;
	font-size: 10pt;
	color: #22252D;
}

/*/////////////////////////////// Menubar and actions ///////////////////////////////*/

QMenuBar
{	
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	background-color: #4D626E;
	border-bottom: 0.05em solid #C0C0C0;
}

QMenuBar::item
{
	color: #EDEDED;
}

QMenuBar::item:selected
{
	background: #23354c;
	color: #EDEDED;
}

QMenu
{
	padding: 0.1em;
	border: 0.05em solid #1f2530;
	background-color: #F2F2F2;
}

QMenu::item
{
	color: #22252D;
}

QMenu::item:selected
{
	color: #EDEDED;
	background: #22252D;
}

/*/////////////////////////////// Status Bar ///////////////////////////////*/

QStatusBar
{
	min-height: 2.5em;
	background-color: #4D626E;
	border-top: 0.05em solid #C0C0C0;
}

QStatusBar::item
{
	border: none;
}

SeoSpider--CrawlerStatusInfo QLabel
{
	color: #EDEDED;
}

/*/////////////////////////////////// Border ////////////////////////////*/

QLineEdit,
QProgressBar,
QPushButton,
QComboBox,
QSpinBox,
QDoubleSpinBox,
QDateEdit
{
	border: 0.05em solid #CCCCCC;
	border-radius: 0.143em;
}

SeoSpider--TableView
{
	border: none;
	background-color: #FCFDFE;
}

/*////////////////////////////////// QLineEdit, QSpinBox, QDoubleSpinBox, QDateEdit, QCheckBox ////////////////////////////////*/

QLineEdit,
QSpinBox,
QDoubleSpinBox,
QDateEdit
{
	min-height: 1.5em;
	background-color: #ffffff;
	color: #4D626E;
}

QCheckBox
{
	min-height: 1.5em;
}

/*////////////////////////////////// UrlLineEdit //////////////////////////*/

SeoSpider--UrlLineEdit:focus[isValidUrl=true]
{
	border-color: #61a032;
}

SeoSpider--UrlLineEdit:focus[isValidUrl=false]
{
	border-color: #cc0000; 
}

/*////////////////////////////////// QProgressBar //////////////////////////*/

QProgressBar
{
	min-height: 1.5em;
	background-color: #ffffff;
	text-align: center;
	color: #4D626E;
	min-width: 15em;
}

QProgressBar::chunk
{
	background-color: #61a032;
}

/*////////////////////////////////// QPushButton //////////////////////////*/

QPushButton
{
	color: #4D626E;
	background-color: #F2F2F2;
	min-height: 1.5em;
	min-width: 5em;
}

QPushButton:hover
{
	background-color: #FCFDFE;
}

QPushButton:pressed
{
	background-color: #D0D0D0;
}

QPushButton:disabled
{
	background-color: #D0D0D0;
}

/*/////////////////////////////// QComboBox ///////////////////////////////*/

QComboBox
{
	background-color: #f5f5f5;
	color: #494949;
	min-height: 1.5em;
	min-width: 3em;
}

QComboBox:hover
{
	background: #FFFFFF;
}

QComboBox::drop-down
{
	margin-right: 0.4em;
	background-color: transparent;
}

QComboBox::down-arrow
{
	image: url(:/images/down-arrow.png);
	width: 1em;
	height: 1em;
	background: transparent;
}

/*/////////////////////////////// QSpinBox, QDoubleSpinBox, QDateEdit ///////////////////////////////*/

QSpinBox::up-button,
QDoubleSpinBox::up-button,
QDateEdit::up-button
{
	image: url(:/images/up-arrow.png);
	border-bottom: 0.05em solid #CCCCCC;
	border-left: 0.05em solid #CCCCCC;
	padding-top: 0.03em;
}

QSpinBox::up-button:pressed,
QDoubleSpinBox::up-button:pressed,
QDateEdit::up-button:pressed
{
	background: #CCCCCC;
}

QSpinBox::down-button,
QDoubleSpinBox::down-button,
QDateEdit::down-button
{
    image: url(:/images/down-arrow.png);
	border-left: 0.05em solid #CCCCCC;
	
	/* this padding need in order to save image size like in a up-button */
	padding-top: 0.05em;
}

QSpinBox::down-button:pressed,
QDoubleSpinBox::down-button:pressed,
QDateEdit::down-button:pressed
{
	background: #CCCCCC;
}

QDateEdit::up-button,
QDateEdit::down-button
{
	background: #FFFFFF;
}

/*/////////////////////////////// Info frame ///////////////////////////////*/

SeoSpider--ControlPanelWidget
{
	min-height: 2.5em;
	min-width: 35em;
	max-width: 35em;
}

SeoSpider--ControlPanelWidget QLineEdit
{
	min-width: 16em;
	max-width: 16em;
}

/*/////////////////////////////// TableView ///////////////////////////////*/

SeoSpider--TableView
{
	background: #FCFDFE;
}

QLabel#SelectFilterLabel
{
	color: #D0D0D0;
	font-size: 48pt;
	background: #FCFDFE;
	font-family: Helvetica;
}

/*/////////////////////////////// Header view ///////////////////////////////*/

QHeaderView
{
	background: #EAEAEA;
}

QHeaderView::section
{
	font-size: 8pt;
	color: #22252D;
	
	border: 0.05em solid white;
	border-top: none;
	border-left: none;
	border-bottom: none;
	
	background: #EAEAEA;
	min-height: 2em;
}

/*/////////////////////////////// SettingsPage ////////////////////////////////*/

SeoSpider--SettingsPage
{
	min-width: 20em;
}

SeoSpider--SettingsPage QSpinBox,
SeoSpider--SettingsPage QComboBox,
SeoSpider--SettingsPage QLineEdit
{
	border-radius: 0;
}

SeoSpider--SettingsPage QLabel,
SeoSpider--SettingsPage QCheckBox
{
	color: #333333;
	font-size: 9pt;
}

SeoSpider--SettingsPage QCheckBox
{
	margin-top: 0.5em;
	margin-bottom: 0.2em;
	font: bold;
}

SeoSpider--SettingsPage QFrame#headerFrame
{
	min-height: 6em;
	padding: 0.5em;
	padding-left: 1.2em;	
	background: #F2F2F2;
	border: 0.05em solid #CCCCCC;
	border-bottom: none;
}

SeoSpider--SettingsPage QFrame#settingsFrame
{
	background: #FCFDFE;
	padding: 0.8em;
	border: 0.05em solid #CCCCCC;
}

SeoSpider--SettingsPage QLabel#headerName
{
	font-size: 16pt;
	font: bold;
	
	color: #61a032;
}

/*/////////////////////////////// ApplicationSettingsWidget ///////////////////////////*/

SeoSpider--ApplicationSettingsWidget
{
	background: #F2F2F2;
}

SeoSpider--ApplicationSettingsWidget QListView
{
	border: 0.05em solid #CCCCCC;
	background: #FCFDFE;
	min-width: 10em;
}

SeoSpider--ApplicationSettingsWidget QListView::item
{
    min-height: 2em;
}

SeoSpider--ApplicationSettingsWidget QListView::item:hover
{
    background-color: #F2F2F2;
	color: black;
}

SeoSpider--ApplicationSettingsWidget QListView::item:selected
{
    background-color: #F7F0D6;
	color: black;
}

SeoSpider--ApplicationSettingsWidget QLabel,
SeoSpider--ApplicationSettingsWidget QWidget,
SeoSpider--ApplicationSettingsWidget QCheckBox
{
	color: #4D626E;
}

SeoSpider--ApplicationSettingsWidget QPushButton#applyButton:enabled
{
	color: white;
	background-color: #56A433;
	border-color: #4A9029;
}

SeoSpider--ApplicationSettingsWidget QPushButton#applyButton:enabled:hover
{
	background-color: #67B847;
}

SeoSpider--ApplicationSettingsWidget QPushButton#applyButton:enabled:pressed
{
	background-color: #4A9029;
}

/*/////////////////////////////// SitemapCreatorWidget ///////////////////////////////*/

SeoSpider--SitemapCreatorWidget
{
	background: #F2F2F2;
}

QFrame#ControlsFrame
{
	background: #FCFDFE;
	padding: 0.8em;
	border: 0.05em solid #CCCCCC;
}

QFrame#ControlsFrame QCheckBox,
QFrame#ControlsFrame QLabel
{
	color: #4D626E;
	font-size: 9pt;
}

QFrame#ControlsFrame QSpinBox,
QFrame#ControlsFrame QDoubleSpinBox,
QFrame#ControlsFrame QComboBox,
QFrame#ControlsFrame QLineEdit,
QFrame#ControlsFrame QDateEdit
{
	border-radius: 0;
}

QFrame#ControlsFrame QSpinBox,
QFrame#ControlsFrame QDoubleSpinBox
{
	max-width: 10em;
}

QFrame#ControlsFrame QComboBox,
QFrame#ControlsFrame QDateEdit
{
	min-width: 10em;
	max-width: 22em;
}

QFrame#HeaderFrame
{
	min-height: 6em;
	max-height: 6em;
	padding: 0.5em;
	padding-left: 1.2em;
	background: #F2F2F2;
	border: 0.05em solid #CCCCCC;
	border-bottom: none;
}

QFrame#HeaderFrame QLabel
{
	color: #4D626E;
	font-size: 9pt;
}

QFrame#HeaderFrame QLabel#headerName
{
	font-size: 16pt;
	font: bold;
	color: #61a032;
}

QFrame#ButtonsFrame
{
	background: #F8F8F8;
	border: 0.05em solid #CCCCCC;
	border-top: none;
	padding: 0.5em;
	padding-right: 1.2em;
}

QFrame#ButtonsFrame QPushButton
{
	font: bold;
}

QFrame#ButtonsFrame QPushButton#createButton:enabled
{
	color: white;
	background-color: #56A433;
	border-color: #4A9029;
}

QFrame#ButtonsFrame QPushButton#createButton:enabled:hover
{
	background-color: #67B847;
}

QFrame#ButtonsFrame QPushButton#createButton:enabled:pressed
{
	background-color: #4A9029;
}

/*/////////////////////////////// QSplitter ///////////////////////////////*/

QSplitter::handle:horizontal
{
	image: url(:/images/ui-splitter-horizontal-icon.png);
    width: 0.8em;
}

QSplitter::handle:vertical
{
	image: url(:/images/ui-splitter-vertical-icon.png);
    height: 0.8em;
}

/*/////////////////////////////// #NavigationPanel ///////////////////////////////*/


QWidget#NavigationPanel
{
	background-color: #F2F2F2;
	border-right: 0.05em solid #C0C0C0;
}

QWidget#NavigationPanel QPushButton
{
	border: none;
	border-bottom: 0.05em solid #F2F2F2;
	border-radius: none;
	background-color: #F2F2F2;
	width: 12em;	
	text-align: left;
	color: #4D626E;	
	font-size: 10pt;
	font: bold;	
	padding-left: 1em;	
	min-width: 10em;
	max-width: 10em;
	min-height: 2.5em;
	max-height: 2.5em;
}

QWidget#NavigationPanel QPushButton:hover
{
	background-color: #D0D0D0;
}

QWidget#NavigationPanel QPushButton[selected="true"]
{
	background-color: #D0D0D0;
}

/*/////////////////////////////// DebugWebPageInfoWidget ///////////////////////////////*/

QWidget#DebugWebPageInfoWidget,
QWidget#DebugWebPageInfoWidget QWidget
{
	color: #22252D;
}

/*/////////////////////////////// HeaderDecorationWidget ///////////////////////////////*/

SeoSpider--HeaderDecorationWidget
{
	background-color: #F2F2F2;
}

SeoSpider--HeaderDecorationWidget QFrame#TitleFrame
{
	min-height: 3em;
	background-color: #F2F2F2;
	border-bottom: 0.1em solid #CCCCCC;
}

/*/////////////////////////////// QTabWidget ///////////////////////////////*/

QTabWidget QLabel
{
	background: white;
	border: none;
	color: black;
	font-family: Helvetica;
	font-size: 11pt;
	padding: 0.7em;
}

QTabWidget::pane
{ 
	/* The tab widget frame */
    position: absolute;
}

QTabWidget::tab-bar
{
    left: 0.2em; /* move to the right by 5px */
}

/* Style the tab using the tab sub-control. Note that
    it reads QTabBar _not_ QTabWidget */
QTabBar::tab
{
	color: black;
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #E1E1E1, stop: 0.4 #DDDDDD,
                                stop: 0.5 #D6D6D6, stop: 1.0 #D3D3D3);
    border: 1px solid #D6D6D6;
    border-bottom-color: #D6D6D6; /* same as the pane color */
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    min-width: 10em;
    padding: 0.3em;
}

QTabBar::tab:selected, QTabBar::tab:hover
{
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                stop: 0 #fafafa, stop: 0.4 #f4f4f4,
                                stop: 0.5 #e7e7e7, stop: 1.0 #fafafa);
}

QTabBar::tab:selected
{
    border-color: #9B9B9B;
    border-bottom-color: #C2C7CB; /* same as pane color */
}

QTabBar::tab:!selected
{
    margin-top: 2px; /* make non-selected tabs look smaller */
}

/* make use of negative margins for overlapping tabs */
QTabBar::tab:selected
{
    /* expand/overlap to the left and right by 4px */
    margin-left: -4px;
    margin-right: -4px;
}

QTabBar::tab:first:selected
{
    margin-left: 0; /* the first selected tab has nothing to overlap with on the left */
}

QTabBar::tab:last:selected
{
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:only-one
{
    margin: 0; /* if there is only one tab, we don't want overlapping margins */
}

/*/////////////////////////////// WidgetUnderMouseInfoDialog ///////////////////////////////*/

SeoSpider--WidgetUnderMouseInfoDialog QLabel
{
	color: black;
}

/*/////////////////////////////// MessageBoxDialog ///////////////////////////////*/

QFrame#MessageBox
{
	background: #4D626E;
}

QFrame#MessageBox QPushButton
{
	min-height: 1.4em;
	border-color: #C0C0C0;
}

QFrame#MessageBox QPushButton:hover
{
	border-color: #FCFDFE;
}

QFrame#MessageBox QPushButton:pressed
{
	border-color: #F2F2F2;
}

QFrame#MessageBox QLabel
{
	color: #ededed;
}


/*/////////////////////////////// Loading Widget ///////////////////////////////*/

QStackedWidget QLabel#LoadingWidget
{
	font-size: 20em;
}

/*/////////////////////////////// Notification Popup Widget ///////////////////////////////*/

SeoSpider--NotificationPopupFrame
{
	qproperty-borderColor: #4D626E;
	qproperty-backgroundColor: #F2F2F2;
}

SeoSpider--NotificationPopupFrame QToolButton
{
	border: none;
}

SeoSpider--NotificationPopupFrame QLabel
{
	color: #000000;
}

SeoSpider--NotificationPopupFrame QLabel#NotificationHeaderLabel
{
	font-size: 10pt;
	font: bold;
}